.colors-block {
  padding: 0;
  list-style: none;
  margin-left: 150px;
  margin-top: 63px;
  width: 270px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 29px;
  float: left;
}

.colors-block__item {
  margin: 0 0 20px 0;
  height: 70px;
}

.colors-block__rectangle {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: #1F2041;
  float: left;
}

.colors-block__text {
  margin-left: 110px;
  padding-top: 5px;
}

.colors-block dt {
  font-weight: bold;
}

.colors-block dd {
  font-weight: normal;
  margin: 0;
}

#ds75 {
  background: rgba(31, 32, 65, 0.75);
}

#ds50 {
  background: rgba(31, 32, 65, 0.5);
}

#ds25 {
  background: rgba(31, 32, 65, 0.25);
}

#ds5 {
  background: rgba(31, 32, 65, 0.05);
}

#purple {
  background: #BC9CFF;
}

#green {
  background: #6FCF97;
}