@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.colors-block {
  margin: 0;
  padding: 0;
  margin-left: 150px;
  margin-top: 67px;
  width: 270px;
}

.colors-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 0;

  font-family: Quicksand;
  font-style: normal;
  font-size: 19px;
  line-height: 29px;
  /* align-items: center; */
  /* margin-left: 110px; */

  color: #1F2041;
}

.colors-block__rectangle {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: #1F2041;
  margin: 0;
  padding: 0;
  /* margin-right: 40px; */
  /* display: block; */
  float: left;
}

.colors-block__list dl {
  margin-left: 110px;
  outline: 2px solid blue;
  /* display: block; */
}

.colors-block__list dt {
  font-weight: bold;
}

.colors-block__list dd {
  font-weight: normal;
  margin: 0;
}

.colors-block__list li {
  margin-left: 110px;
}

.colors-block__item {
  margin: 0;
  padding: 0;
  height: 70px;
  outline: 3px dashed green;
}

* {
  outline: thin solid red;
}
